.project {
    &-theme-light {
        background-color: white;
        width: 400px;
        margin-top: 20px;
        height: 80px;
        left: 125px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            position: relative;
            top: 1px;
        }

        .name {
            font-family: Rockwell;
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            left: 20px;
            top: 10px;
            position: absolute;
            color: black;
        }
    }

    &-theme-dark {
        background-color: black;
        width: 400px;
        margin-top: 20px;
        height: 80px;
        left: 125px;
        position: relative;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            position: relative;
            top: 1px;
        }

        .name {
            font-family: Rockwell;
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            left: 20px;
            top: 10px;
            position: absolute;
            color: white;
        }
    }
}
