.container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 120px;
}

.button_container {
  display: flex;
}

.button {
    &-theme-light {
        background-color: #F8BBD0;
        color: black;
        width: 400px;
        height: 40px;
        border-style: none;
        font-family: Rockwell;
        font-size: 15px;
        line-height: 15px;
        top: 10px;
        display: block;
        position: relative;
        border-radius: 20px;

        &:hover {
            background-color: #E1BEE7;
        }

        &:active {
            background-color: #BBDEFB;
        }
    }

    &-theme-dark {
        background-color: black;
        color: white;
        width: 400px;
        height: 40px;
        border-style: none;
        font-family: Rockwell;
        font-size: 15px;
        line-height: 15px;
        top: 10px;
        display: block;
        position: relative;
        border-radius: 20px;

        &:hover {
            background-color: #808080;
        }

        &:active {
            background-color: white;
        }
    }
}