.radios {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    padding: 31px 40px 31px 0;
    font-family: Rockwell;
    font-size: 15px;
    line-height: 15px;
    color: white;
    }